@model ForumSystem.Web.ViewModels.Categories.CategoryViewModel
@{
	this.ViewData["Title"] = Model.Title;
}

<h1 class="display-3">@Model.Title</h1>
<div class="alert alert-info">
	@Model.Description
</div>

@foreach (var post in Model.ForumPosts)
{
	<div>
		<h4 class="media-heading">
			<a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id" class="nav-link">
				@post.Title
			</a>
		</h4>
		<a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id" class="nav-link">
			<p>@post.ShortContent</p>
		</a>
		<ul class="list-inline list-unstyled text-end">
			<li class="list-inline-item">
				<i class="bi bi-person-fill"></i>   @post.UserUserName
			</li>
			<li class="list-inline-item">
				<i class="bi bi-calendar-fill"></i>   @post.CreatedOn
			</li>
			<li class="list-inline-item">
				<i class="bi bi-chat-left-text-fill"></i>   @post.CommentsCount
			</li>
		</ul>
		<p>
		</p>
	</div>
}

<nav aria-label="...">
	<ul class="pagination justify-content-center">
		@if (this.Model.CurrentPage == 1)
		{
			<li class="page-item disabled">
				<a class="page-link">Previous</a>
			</li>
		}
		else
		{
			<li class="page-item">
				<a class="page-link" asp-route="forumCategory" asp-route-name="@this.Model.Title" asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
			</li>
		}

		@for (int i = 1; i <= this.Model.PagesCount; i++)
		{
			var active = i == this.Model.CurrentPage ? "active" : string.Empty;

			<li class="page-item @active">
				<a class="page-link" asp-route="forumCategory" asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a>
			</li>
		}

		@if (this.Model.CurrentPage == this.Model.PagesCount)
		{
			<li class="page-item disabled">
				<a class="page-link">Next</a>
			</li>
		}
		else
		{
			<li class="page-item">
				<a class="page-link" asp-route="forumCategory" asp-route-name="@this.Model.Title" asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
			</li>
		}
	</ul>
</nav>


