@model ForumSystem.Web.ViewModels.Categories.CategoryViewModel
@{
	this.ViewData["Title"] = Model.Title;
}

<h1 class="display-3">@Model.Title</h1>
<div class="alert alert-info">
	@Model.Description
</div>

@foreach (var post in Model.Posts)
{
	<div>
		<h4 class="media-heading">@post.Title</h4>
		<p>@post.ShortContent</p>
		<ul class="list-inline list-unstyled text-end">
			<li class="list-inline-item">
				<i class="bi bi-person-fill"></i>   @post.UserUserName
			</li>
			<li class="list-inline-item">
				<i class="bi bi-calendar-fill"></i>   @post.CreatedOn
			</li>
			<li class="list-inline-item">
				<i class="bi bi-chat-left-text-fill"></i>   @post.CommentsCount
			</li>
		</ul>
		<p>
		</p>
	</div>
}


